body {
    text-align: center;
    background-image: linear-gradient(rgba(128,128,128,0.5), rgba(128,128,128,0.5)), url('/static/foodRoots/resturant.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: "Trirong", serif;
    color: whitesmoke;
}

#main-content {
    margin-top: 100px
}