body {
    text-align: center;
}

form {
    display: inline-block;
}

#question {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#answer_field {
    margin-top: 10px;
    margin-bottom: 10px;
}